.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    /* max-width: 100%; */

}

.loading >div{
    width: 10vmax;
    height: 10vmax;
    /* background-color: red; */
    border-bottom: solid 5px rgba(0,0,0,0.39);
    border-radius: 50%;
    animation: loaderRotate 800ms linear infinite;

}
/* .loading >div::after{
    content:"loading";
   
} */
@keyframes loaderRotate {
    to{
        transform:rotate(-360deg)
    }
}